<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<form action="{{url_for('onsubmit')}}" method="POST">
            First Name: <input type="text" name="fn"><br>
            Last Name: <input type="text" name="ln"><br>
            Regd. No:<input type="number" name="regno"><br>
            Mobile Number: <input type="number" name="mb"><br>
            <br>
            <input type="submit" value="Click Here">
       </form>

</body>
</html>